body { /* Modificacion del fondo de la pagina */

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  
      background-image: url('../images/fondoF.jpg');
      background-size: cover; /* Esto asegura que la imagen cubra todo el fondo */

    font-family: Arial, sans-serif;   
    margin: 0;
    padding: 20px;
    background: linear-gradient(60deg,#1a001f,#4c055a,#a723c2,#24052b);
    background-size: 200% 200%;
    animation: color 20s ease-in-out infinite;
}

@keyframes color{
  0%{
      background-position: 0 35%;
  }
  50%{
      background-position: 100% 35%;
  }
  100%{
      background-position: 0 35%;
  }
}

.container {
  max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
#lista {
  
    background-color: #2c2c2c; /* Cambia el color de fondo */
    color: #ff6464; /* Cambia el color del texto */
    padding: 20px;
    width: 400px;/*tamalo a lo largo de  la lista*/
    border-radius: 10px; /* Opcional: Bordes redondeados */
    margin-top: 31px; /* Añadir espacio arriba del contenedor */
    
  }
  #resultados {
    
    background-color: #2c2c2c; /* Cambia el color de fondo */
    color: #ff6464; /* Cambia el color del texto */
    padding: 20px;
    width: 400px;/*tamalo a lo largo de  la lista*/
    border-radius: 10px; /* Opcional: Bordes redondeados */
    margin-top: 31px; /* Añadir espacio arriba del contenedor */
  }


/* Estilo de la tarjeta */
.custom-card {
    background-color: #ebd453; 
    border: 2px solid #000000; 
    color: #2c2c2c;
    padding: 2px;
    text-align: center; /* Alinea todos los elementos del card al centro */
}

#lista {
  
  background-color: #2c2c2c; /* Cambia el color de fondo */
  color: #ff6464; /* Cambia el color del texto */
  padding: 20px;
  width: 400px;/*tamalo a lo largo de  la lista*/
  border-radius: 10px; /* Opcional: Bordes redondeados */
  margin-top: 31px; /* Añadir espacio arriba del contenedor */
}
.list-group-item {

    background-color: #2c2c2c; /* Color de fondo de los ítems de la lista */

    background-color: #670186; /* Color de fondo de los ítems de la lista */
    /* text-align: center */;
  }
  input[type="text"] {
    border-color: #000000; /* Color del borde del input */
    background-color: #eee0b1; /* Color de fondo del input */
  }
  input[type="number"] {
    border-color: #000000; /* Color del borde del input */
    background-color: #eee0b1; /* Color de fondo del input */
  }

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;

    background-color: #2c2c2c;

}

.flex-item{
    flex: none;
    width: 150px;
    padding: 2px;   
}